@font-face {
    font-family: 'ArcadeClassic';
    src: url('../fonts/ARCADECLASSIC.ttf');
}

body
{
  width:100%;
  height:100%;
  padding:0px;
  margin:0px;
  position:absolute;
  top:0px;
  left:0px;
  overflow:hidden;
}

#viewport
{
  width:100%;
  height:100%;
  position:absolute;
  top:0px;
  left:0px;
  overflow:hidden;
  background:black;
}

#players
{
  width:100%;
  height:84px;
  position:absolute;
  top:0px;
  left:0px;
  display:flex;
  flex-direction:row;
  justify-content:center;
}
#players > .player
{
  height:48px;
  padding:18px;
  font-family: 'ArcadeClassic';
  font-size:32px;
  line-height:48px;
  color:white;
  display:flex;
  flex-direction:row;
  justify-content:center;
}
#players > .player > .colour
{
  width:48px;
  height:48px;
  background:rgb(140,224,180);
  margin-right:16px;
}
#players > .player > .score
{
  height:48px;
  display:flex;
  flex-direction:column;
}
#players > .player > .score > .current
{
  height:32px;
  line-height:32px;
  font-size:30px;
}
#players > .player > .score > .highscore
{
  height:16px;
  line-height:16px;
  font-size:14px;
}
#gamearea
{
  width:100%;
  height:calc(100% - 84px);
  position:absolute;
  top:84px;
  left:0px;
  background:black;
}
#gamearea > canvas
{
  width:100%;
  height:100%;
}
